.form {
  width: 385px;
  margin: 0 auto;
}

.form__fieldset {
  display: flex;
  align-self: center;
  flex-flow: column;
  padding: 0;
  border: none;
  margin: 0;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 32px;
  gap: 12px;
}

.form__input {
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #838383;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}
.form__input::placeholder {
  color: #838383;
}

.form__button {
  height: 60px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}
.form__button:hover {
  opacity: 70%;
  transition: 0.3s;
}
.form__checkbox {
  display: flex;
  justify-self: center;
}
.form__label_type_checkbox {
  margin: 0;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  align-self: center;
}
.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  align-self: center;
}
