.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
}
.menu__title {
  padding-bottom: 24px;
  max-width: 780px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
  display: flex;
  align-self: center;
  margin: 0;
}
.menu__subtitle {
  max-width: 780px;
  padding-bottom: 100px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  display: flex;
  align-self: center;
  margin: 0px;
  text-align: center;
}
.menu__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  padding-right: 100px;
  padding-left: 100px;
  gap: 100px;
}
