.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}
.recipes__title {
  color: #fff;
  font-family: "Inter" Arial, Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.recipes__subtitle {
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-top: 24px;
  margin-bottom: 80px;
}
.recipes__videos {
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 40px;
}
.recipes__video {
  display: flex;
  margin: 0 auto 215px;
  flex-direction: column;
}
.recipes__iframe {
  list-style-type: none;
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__video-captions {
  padding: 24px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0px;
}
